<nav class="navbar-expand-lg">
  <div class="nav-section nav-logo">
    <h3 style="margin: 0" routerLink="">Partificer</h3>
  </div>
  <div class="nav-section nav-items">
    <a routerLinkActive="active" class="nav-item" routerLink="/group"
      >My Group</a
    >
    <a routerLinkActive="active" class="nav-item" routerLink="/membership"
      >My Membership</a
    >
    <a routerLinkActive="active" class="nav-item" routerLink="/preferences"
      >My Preferences</a
    >
  </div>
  <div class="nav-section nav-login">
    <a *ngIf="isAuthenticated" (click)="onLogout()" routerLink="/auth"
      >Logout</a
    >
    <a *ngIf="!isAuthenticated" routerLink="/auth">Authenticate</a>
  </div>
</nav>
