<th class="dropdown" appDropdown>
  <a class="dropdown-toggle" role="button">Change Current Member</a>
  <ul class="dropdown-menu">
    <li *ngFor="let member of members">
      <a style="cursor: pointer" (click)="onChangeMember(member)"
        >{{ member.name }}
      </a>
    </li>
  </ul>
</th>

<h1>Currently Logged in as : {{ currentMember.name }}</h1>

<h3>{{ currentMember.name }}'s Choices:</h3>
<div *ngFor="let choice of currentMember.myChoices">
  <h4>{{ choice.preference.title }}:</h4>
  <div *ngFor="let choice of choice.toArray()">
    {{ choice[0] }} - {{ choice[1] }}
  </div>
</div>
